n8ncli/examples/timezone-lookup.json
{
  "name": "Timezone Lookup (GeoNames)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "timezone-lookup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "timezone-lookup"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api.geonames.org/searchJSON?q={{ encodeURIComponent($json.city) }}&country={{ $json.countryCode }}&maxRows=1&username={{ $env.GEONAMES_USERNAME }}",
        "options": {}
      },
      "id": "search-city",
      "name": "Search City",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://api.geonames.org/timezoneJSON?lat={{ $json.geonames[0].lat }}&lng={{ $json.geonames[0].lng }}&username={{ $env.GEONAMES_USERNAME }}",
        "options": {}
      },
      "id": "get-timezone",
      "name": "Get Timezone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"timezone\": $json.timezoneId, \"gmtOffset\": $json.gmtOffset, \"dstOffset\": $json.dstOffset, \"rawOffset\": $json.rawOffset, \"countryCode\": $json.countryCode, \"countryName\": $json.countryName } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search City": {
      "main": [
        [
          {
            "node": "Get Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Timezone": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
